body{
    font-family: 'Garamond';
    font-size: 15px;
    font-weight: bold;
    background-image: url('img/teresina-vista-aeria-mais-clara.png');
    background-size:100%;
    
}
 

a{
    color: #ffffff;
    text-decoration: none;
}

.nav-cor{
    background-color:  #383839;
    background-color:  #202529;
}
.cabecalho{
    width: 100%;
    
}

.cabecalho-config{

    padding-bottom: 20px;
    
}

.logo{
    width: 85px;
}


#map { 
    height: 450px;
    width: 500px;
    border-radius: 12px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    
}

.mapa{
    width: 100%;
    
}

.mapa-config{
    display: flex; 
    justify-content: center; 
    align-items: center;

}

.interacao{
    font-size: 20px;
    width: 100%;

}

.interacao-pc{
    font-size: 20px;
    margin-left: 10px;
}

.interacao-config{
    position: relative;
    color: white;
    width: 100%;
    height: auto;
    background-color: #202529;
    margin: 0 auto;
    border: 2px solid #202529;
    border-radius: 7px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'DINPro-Medium', sans-serif;
    
}

.interacao-config label{
    color: #699008;
}

.interacao-config img{
    width: 15px;
}

.fechar{
    position: absolute; /* Define o container como posição absoluta */
    top: 20px;
    right: 20px;
    cursor: pointer;
    border: 1px solid #699008;
    border-radius: 12px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 30px;
    color: white;
    background: #699008;
}

.fechar button{
    background: none;
    border: none;
    color: white;
}

#cadastro{
    color: #699008;
}




.informacoes{

    width: 100%;

}

.informacoes-config{
    display: flex; 
    justify-content: center; 
    align-items: center;
    width: 80%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}