body{
    font-family: 'Garamond';
    font-size: 15px;
    font-weight: bold;
    
}

a{
    text-decoration: none;
}

.nav-cor{
    background-color: #334258;
}
.cabecalho{
    width: 100%;
    
}

.cabecalho-config{

    padding-bottom: 20px;
    
}

.logo{
    width: 150px;
}

#map { 
    height: 450px;
    width: 500px;
    border-radius: 12px;
}

.mapa{
    width: 100%;
}

.mapa-config{
    display: flex; 
    justify-content: center; 
    align-items: center;

}

.interacao{
    font-size: 20px;
    width: 100%;
}

.interacao-config{
    color: white;
    width: 80%;
    height: auto;
    background-color: #334258;
    margin: 0 auto;
    border: 2px solid #334258;
    border-radius: 7px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.interacao-config label{
    color: #699008;
}
