body{
    font-family: 'Garamond';
    font-size: 15px;
    font-weight: bold;
    background-image: url('img/teresina-vista-aeria-mais-clara.png');
    background-size:100%;
    
}
 

a{
    color: #ffffff;
    text-decoration: none;
}

.nav-cor{
    /*background-color:  #383839; cor de teste */
     background-color:  #202529;
}
.cabecalho{
    width: 100%;
    
}

.cabecalho-config{
    padding-bottom: 20px;
    
}

.logo{
    width: 85px;
}

#map { 
    height: 450px;
    width: 500px;
    border-radius: 12px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    
}

.mapa{
    width: 100%;
    
}

.mapa-config{
    display: flex; 
    justify-content: center; 
    align-items: center;

}

.interacao{
    font-size: 20px;
    width: 100%;

}

.interacao-pc{
    font-size: 20px;
    margin-left: 10px;
}

.interacao-config{
    position: relative;
    color: white;
    width: 100%;
    height: auto;
    background-color: #202529;
    margin: 0 auto;
    border: 2px solid #202529;
    border-radius: 7px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'DINPro-Medium', sans-serif;
    
}

.interacao-config label{
    color: #699008;
}

.interacao-config img{
    width: 15px;
}

.redes-contato{
    margin-top: 5px;
    padding: 5px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    color: #699008;
    background-color: #ffffff;
    width: auto;
}

/*Informações página - Sobre Nos */

.informacoes-pc{
    width: 100%;
    margin-top: 90px;
}

.informacoes{
    width: 100%;
    margin-top: 20px;
}

.informacoes-config{
    width: 75%;
    height: auto;
    padding: 20px;
    margin: 0 auto;
    color: #fff;
    background: #202529;
    font-size: 30px;
    border: 1px solid #202529;
    border-radius: 12px;
}

.informacoes-config h1{
    font-size: 50px;
    font-weight: bold;
    color: #699008;
    text-align: center;
}

.texto-sobre{
    padding-left: 10px;
    text-align: justify;
    /*utilizar caso queira alterar a */
}

.texto-sobre-cell{
    font-size: 25px;
    text-align: justify;
    /*utilizar caso queira alterar a */
}

.sobre{
    display: flex;
}

.img-sobre{
    background: #202529;
}

.img-sobre-cell{
    background: #202529;
}

.img-sobre img{
    width: 200px;
}